;; 2013.01.21
;; yasushisakai
;;
;; gitignore for Django using pyCharm
;;

;;files to ignore
settings.py
PythonSheets/client_secret.json

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/